.mySlides{
width 500px;
height:500px;
position: relative;
left: 700px;
top: 50px;
}

.intro{
position: absolute;
left:50px;
top: 150px;
}


.center {
width 300px;
height:350px;
position: absolute;
left:600px;
top: 150px;
}