<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${guest}" th:action="@{/guest}" method="post">
<input type="hidden" th:field="*{id}"/>
    <label>imie</label>
    <input type="text" th:field="*{imie}" />
    <label>nazwisko</label>
    <input type="text" th:field="*{nazwisko}" />
    <button type="submit" >Add</button>
</form>
<a th:href="${'/guests'}">Powrót</a>
</body>
</html>