<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guests</title>

</head>
<body>
<h1>
    Lista Gości
</h1>
<div th:if="${not #lists.isEmpty(guests)}">

    <table >
        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Nazwisko</th>

        </tr>
        <tr th:each="guest : ${guests}">
            <td th:text="${guest.id}"></td>
            <td th:text="${guest.imie}"></td>
            <td th:text="${guest.nazwisko}"></td>
            <td><a th:href="${'/guest/delete/'+guest.id}">Delete</a></td>
        </tr>
    </table>

</div>
<a th:href="${'/guest/add'}">Add new</a>
</body>
</html>