<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Harmonogram</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body class="body">
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">
                    <img src="/images/home.jpg" width="30" height="30" alt="home">
                    home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/guests}">
                    <img src="/images/stick.jpg" width="30" height="30" alt="guests">
                    Goście</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/Money}">
                    <img src="/images/money.jpg" width="30" height="30" alt="money">
                    Budżet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dresses}">
                    <img src="/images/dressicon.jpg" width="30" height="30" alt="dress">
                    Suknie Ślubne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/suits}">
                    <img src="/images/suits-icon.jpg" width="30" height="30" alt="suits">
                    Garnitury Ślubne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/schedule}">
                    <img src="/images/schedule.jpg" width="30" height="30" alt="schedule">
                    Harmonogram</a>
            </li>
        </ul>
        <span class="navbar-text">
      Zaplanuj swój wymarzony dzień
    </span>
    </nav>
</div>

<h1 class="font-italic" align="center">
    Harmonogram
</h1>
<div id="accordion">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    18-12 miesięcy przed ślubem
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul id="servicesSelection" class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie datę ślubu <input serviceName="DETERMINE_DATE_OF_WEDDING" value="${...}" id="..." type="checkbox" />
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie budżet
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Opracujcie wstępną listę gości
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zarezerwujcie salę weselną
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zarezerwujcie miejsce ślubu
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zarezerwujcie fotografa/kamerzystę
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zarezerwujcie zespół lub DJ
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $('#servicesSelection input[type='checkbox'])
            .forEach((elem) => {
                elem.change((oldValue, newValue) => {
                    $.post({
                        url: '/services',
                        data: JSON.stringify({
                            selectedService: elem.attr('serviceName')
                        })
                        .fail((e) => {
                            // ...
                        });
                    });
                });
            });
        </script>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    11-7 miesięcy przed ślubem
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Wybierzcie świadków
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zamówcie atrakcje weselne
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zapiszcie się na nauki przedmałżeńskie
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Rozpocznij poszukiwania sukni ślubnej/garnituru
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Wybierzcie fryzjera i wizażystę
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    6-4 miesięce przed ślubem
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Złóżcie dokumenty w USC
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Wybierzcie ślubną papeterię
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Wybierzcie dekoracje kwiatowe
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zarezerwujcie auto do ślubu
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Kupcie obrączki ślubne
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zapiszcie się na kurs tańca
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    3 miesiące przed ślubem
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Załatwiajcie formalności z księdzem
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zróbcie ostateczną listę gości
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zapraszajcie wszystkich gości z listy
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zaplanujcie upominki dla rodziców/gości/świadków
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Kupcie alkohol
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    2-1 miesiąc przed ślubem
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie przebieg ceremonii zaślubin
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie menu weselne
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie plan rozsadzenia gości
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie szczegóły z fotografem/kamerzystą
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Ustalcie szczegóły z zespołem/DJ
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zweryfikujcie potwierdzenia przybycia gości
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Odbierzcie suknię/garnitur z salonu
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    1 dzień przed ślubem
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Dostarczcie alkohol na salę
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Ułóżcie winietki
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Zapakujcie prezenty dla rodziców/gości/świadków
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Przygotujcie stroje i inne akcesoria
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Po ślubie
                </button>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">
                        Uregulujcie wszystkie należności
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Załatwcie formalności
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>